<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMonitorstatService" messageEncoding="Mtom">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://testmonitorstat.nsi.bg/MonitorstatService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMonitorstatService"
                contract="MonitorstatService.IMonitorstatService" name="WSHttpBinding_IMonitorstatService" />
        </client>
    </system.serviceModel>
</configuration>